<template>
    <v-app>
        <v-toolbar fixed app extended flat color="primary">
            <v-toolbar-title v-text="title" class="white--text"></v-toolbar-title>
            <v-spacer></v-spacer>
            <v-tabs
                    dark centered
                    show-arrows
                    color="primary"
                    prev-icon="fa-angle-left"
                    next-icon="fa-angle-right"
                    slot="extension"
                    hide-slider
            >
                <v-tab nuxt :to="{ path: '/events' }" dark>
                    Events
                </v-tab>
                <v-tab nuxt :to="{ path: '/users' }" dark>
                    Users
                </v-tab>
            </v-tabs>
        </v-toolbar>
        <v-content class="primary">
            <v-container>
                <nuxt></nuxt>
            </v-container></v-content>
        <v-footer app>
            <span>&copy; 2018</span>
        </v-footer>
    </v-app>
</template>
<script>
export default {
    data: () => ({
        title: '#Varanga UrbanHack'
    })

}
</script>
