<template>
    <div>

        <v-data-table
                :headers="headers"
                :items="desserts"
                :search="search"
                v-model="selected"
                item-key="user_id"
                select-all
                class="elevation-1"
        >
            <template slot="headerCell" slot-scope="props">
                <v-tooltip bottom>
            <span slot="activator">
              {{ props.header.text }}
            </span>
                    <span>
              {{ props.header.text }}
            </span>
                </v-tooltip>
            </template>
            <template slot="items" slot-scope="props">
                <td>
                    <v-checkbox
                            v-model="props.selected"
                            primary
                            hide-details
                    ></v-checkbox>
                </td>
                <td class="text-xs-center">{{ props.item.user_id }}</td>
                <td class="text-xs-center">{{ props.item.username }}</td>
                <td class="text-xs-center">{{ props.item.user_first_name }}</td>
                <td class="text-xs-center">{{ props.item.user_last_name }}</td>
            </template>
        </v-data-table>
        <v-btn v-if="selected.length > 0" color="success" @click="sendRating()">Отправить</v-btn>
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    export default {
        computed: {
            ...mapState({
                users: state => state.event.users
            })
        },
        data () {
            return {
                search: '',
                selected: [],
                headers: [
                    {
                        text: 'Id',
                        align: 'center',
                        sortable: false,
                        value: 'user_id'
                    },
                    { text: 'Никнейм', align: 'center', value: 'username' },
                    { text: 'Имя', align: 'center', value: 'user_first_name' },
                    { text: 'Фамилия', align: 'center', value: 'user_last_name' }
                ],
                desserts: []
            }
        },
        methods: {
            toggleAll () {
                if (this.selected.length) this.selected = []
                else this.selected = this.users.slice()
            },
            changeSort (column) {
                if (this.pagination.sortBy === column) {
                    this.pagination.descending = !this.pagination.descending
                } else {
                    this.pagination.sortBy = column
                    this.pagination.descending = false
                }
            },
            sendRating () {
                this.$store.dispatch('event/rating', this.selected)
                this.selected = []
            }
        },
        created: function () {
            this.$store.dispatch('event/getUser', this.$route.params.idEvent)

            for (var i = 0; i < this.users.length; i++) {
                // console.log(this.users[i].user_id)
                // console.log(this.users[i].username)
                // console.log(this.users[i].user_first_name)
                // console.log(this.users[i].user_last_name)
            }
            this.desserts = this.users
        }
    }
</script>

<style scoped>

</style>