<template>
    <div>
        <v-toolbar flat color="white">
            <v-toolbar-title>My CRUD</v-toolbar-title>
            <v-divider
                    class="mx-2"
                    inset
                    vertical
            ></v-divider>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="500px">
                <v-btn slot="activator" color="primary" dark class="mb-2">New Item</v-btn>
                <v-card>
                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>

                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 sm6 md4>
                                    <v-text-field v-model="editedItem.title" label="Название"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <v-text-field v-model="editedItem.description" label="Описание"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <v-text-field v-model="editedItem.date" label="Дата"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <v-text-field v-model="editedItem.contact" label="Контакты"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <v-text-field v-model="editedItem.organizers" label="Организатор"></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click.native="close">Отмена</v-btn>
                        <div v-if="isAdd">
                            <v-btn color="blue darken-1" flat @click.native="save(true)">Добавить</v-btn>
                        </div>
                        <div v-else>
                            <v-btn color="blue darken-1" flat @click.native="save(false)">Сохранить</v-btn>
                        </div>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-toolbar>
        <v-data-table
                :headers="headers"
                :items="events"
                hide-actions
                class="elevation-1"
        >
            <template slot="headers" slot-scope="props">
                <tr>
                    <th
                            v-for="header in props.headers"
                            :key="header.text"
                            @click="changeSort(header.value)"
                    >
                        <v-icon small>arrow_upward</v-icon>
                        {{ header.text }}
                    </th>
                </tr>
            </template>
            <template slot="items" slot-scope="props">
                <td class="text-xs-center" @click="by(props.item)">{{ props.item.title }}</td>
                <td class="text-xs-center">{{ props.item.description }}</td>
                <td class="text-xs-center">{{ props.item.date }}</td>
                <td class="text-xs-center">{{ props.item.contact }}</td>
                <td class="text-xs-center">{{ props.item.organizers }}</td>
                <td class="justify-center layout px-0">
                    <v-icon
                            small
                            class="mr-2"
                            @click="editItem(props.item)"
                    >
                        edit
                    </v-icon>
                    <v-icon
                            small
                            @click="deleteItem(props.item)"
                    >
                        delete
                    </v-icon>
                </td>
            </template>
            <template slot="no-data">
                <v-btn color="primary" @click="initialize">Reset</v-btn>
            </template>
        </v-data-table>
    </div>
</template>
<script>
    export default {
        data: () => ({
            isAdd: true,
            dialog: false,
            selected: [],
            headers: [
                {
                    text: 'Название события',
                    align: 'center',
                    sortable: false,
                    value: 'title'
                },
                { text: 'Описание', value: 'description', align: 'center' },
                { text: 'Дата', value: 'date', align: 'center' },
                { text: 'Контакты', value: 'contact', align: 'center' },
                { text: 'Организатор', value: 'organizers', align: 'center' },
                { text: 'Действия', value: 'name', sortable: false, align: 'center' }
            ],
            desserts: [],
            editedIndex: -1,
            editedItem: {
                title: '',
                description: '',
                date: '',
                contact: '',
                organizers: ''
            },
            defaultItem: {
                title: '',
                description: '',
                date: '',
                contact: '',
                organizers: ''
            }
        }),
        computed: {
            events () {
                return this.$store.state.event.items
            },
            formTitle () {
                return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
            }
        },

        watch: {
            dialog (val) {
                val || this.close()
            }
        },

        created () {
            this.initialize()
        },

        methods: {
            initialize () {
                this.$store.dispatch('event/getEvent')
            },

            editItem (item) {
                if (item.title === '') {
                    this.isAdd = true
                } else {
                    this.isAdd = false
                }

                this.editedIndex = this.desserts.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },

            deleteItem (item) {
                this.$store.dispatch('event/deleteEvent', item.title)
                // confirm('Are you sure you want to delete this item?') && this.desserts.splice(index, 1)
            },

            close () {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },

            save (add) {
                if (!this.isAdd) {
                    console.log('update')
                    this.$store.dispatch('event/updateEvent', this.editedItem)
                    this.isAdd = true
                } else {
                    console.log('add')
                    this.$store.dispatch('event/addEvent', this.editedItem)
                }

                this.close()
            },
            by (event) {
                this.$router.push({ path: '/' + event.title })
            }
        }
    }
</script>