<template>
    <div>

        <v-data-table
                :headers="headers"
                :items="by"
                :search="search"

                item-key="user_id"
                class="elevation-1"
        >
            <template slot="headerCell" slot-scope="props">
                <v-tooltip bottom>
            <span slot="activator">
              {{ props.header.text }}
            </span>
                    <span>
              {{ props.header.text }}
            </span>
                </v-tooltip>
            </template>
            <template slot="items" slot-scope="props">
                <td class="text-xs-center">{{ props.item.user_id }}</td>
                <td class="text-xs-center">{{ props.item.username }}</td>
                <td class="text-xs-center">{{ props.item.user_first_name }}</td>
                <td class="text-xs-center">{{ props.item.user_last_name }}</td>
                <td class="text-xs-center">{{ props.item.rating }}</td>
            </template>
        </v-data-table>
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    export default {
        computed: mapState({
            by: state => state.event.usersRating
        }),
        data () {
            return {
                search: '',
                selected: [],
                headers: [
                    { text: 'Id', align: 'center', value: 'user_id' },
                    { text: 'Никнейм', align: 'center', value: 'username' },
                    { text: 'Имя', align: 'center', value: 'user_first_name' },
                    { text: 'Фамилия', align: 'center', value: 'user_last_name' },
                    { text: 'Рейтинг', align: 'center', value: 'rating' }
                ],
                desserts: []
            }
        },
        methods: {
        },
        created: function () {
            this.$store.dispatch('event/getRating')
            console.log(this.by)
        }
    }
</script>

<style scoped>

</style>